/* FOUR CARDS */

.CardServ {
  width: 100%;
  height: 100%;
  background-image: url(../../Components/services/images/Frame\ 190.png);
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;

}
.CardServ:hover {
  background-image: url(../../Components/services/images/Frame\ 188.png);

}
.servicesicon {
  margin: 15% 20%;
  width: 55%;
  height: 54%;

}

.textwithgry {
  background-color: rgb(190, 180, 180, .5);
  width: 100%;
  margin-top: 3%;
  margin-bottom: 4%;
  padding: 1% 3%;
}

/* SECOND PART OF SERVICES */
/* --- LIST --- */
.textbefrlist {
  font-weight: bold;
  width: 90%;
}

.rounbackground {
  background-color: #E4E4E4;
  border-radius: 60%;
  padding: 3% 4%;
  width: 100%;
  height: 100%;
  margin-right: 3%;
}

.uncoloredlist {
  list-style: none !important;
  margin-block-start: 0% !important;
  margin-top: 8% !important;
  padding-inline-start: 0% !important;
}
.lisectex{padding-left: 14%;}
.lifrtex{margin-top: 5% !important;}
/* --- ROUND IMG --- */

.cicy {
  padding: 10px;
  overflow: hidden;
  /* Hide overflow content */
  width: 50%;
  /* Set width to 50% */
  position: relative;
  /* Required for absolute positioning */
}

.circleimo {
  height: 90% !important;
  width: 60% !important;
  /* Make the image fill the container */
  display: block;
  position: absolute;
  left: -10%;
  /* Position the image to the left so only half is visible */
}


/* qeastion */
  .betoo{background-color: #1E4F9E;
  border-radius: 50%;
color: white;}


.maindivee {
  border-radius: 5% 5%;
  border-style: solid;
  border-color: rgba(187, 178, 178, 0.5);
  border-width: 2px;
  margin-bottom: 5%;
  margin-top: 2%;
  padding: 2% 3%;
}

.maindivtext {
  text-align: left;
  border-bottom-width: 2px;
  border-bottom-color: rgba(187, 178, 178, 0.5);
  border-bottom-style: solid;
}

.impoo {
  text-align: left;
  padding: 1.5% 1%;
  background-color: rgba(162, 167, 168, 0.05);
  border-radius: 4% 4%;

}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  * {
    overflow-x: hidden;
  }

  .ourservicescard {
    width: 100%;
  }

}