*{overflow-x: hidden;}

.stand1text{
  font-size: xx-large;
  top: 34%;
  left: 45%;
position: absolute;}
.stand2text{
  font-weight: lighter;
  font-size: xx-large;
  top: 45%;
  left: 25%;
position: absolute;}
.secondsection{background-color:#E0ECFF
  ;
  width: 90%;
    height: 100%;
border: none;
border-radius: 150px;}
.standsecntext1{font-weight: bolder;
width: 70%; text-align: center;}
.standsecntext2{}

.flwla{width: 100%;}
.manimg {    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
margin-top: 2%;
margin-bottom: 2%;}

.leftbord{ border-left-style: solid;
  border-image: linear-gradient(#1E4F9E
  , #B5D1FF
  ) 30;}
    .rightbord{ border-right-style: solid;
      border-image: linear-gradient(#1E4F9E
      , #B5D1FF
      ) 30;}


  .whyusbackground{
    background-image: url(../../Components/about/images/Frame\ 72.png) ; 
    background-size:cover;

    background-position: center;
    background-repeat: no-repeat;
  }
  .whyimg{
    width: 80%;
  }
  .coloredlist{
    margin-bottom: 1%;
    font-weight: bolder;
    list-style-type: disc;
    color: #1E4F9E
    ;
  }



.nino{color:rgb(3, 8, 16,0.7)
  !important ;}


  @media screen and (min-width: 1441px) {}
  *{overflow-x: hidden;}

  @media screen and (device-width: 1024px) {}
  *{overflow-x: hidden;}


  /* For Tablet View */
@media screen and (min-device-width: 768px) 
and (max-device-width: 1023px) {
  *{overflow-x: hidden;}
   
  /* .secondsectiontext{ font-size: small !important;} */
}



/* For Mobile Phones Portrait or Landscape View */
@media screen
  and (max-device-width: 766px) {
    *{overflow-x: hidden;}

  
  }
