/* NAVBAR */
.logoo {
  padding-left: 26%;
}

.expendmenu {
  width: 80%;
}

.nav-link {
  font-weight: 500;
}

.nav-link:hover {
  border-bottom: 3px solid #52B1DA;
}

.nav-link:active {
  border-bottom: 3px solid #52B1DA;
}

.butncolo {
  background-image: linear-gradient(to right, #54B3DC, #1E87B4);
  border: none;
  margin-left: 29% !important;
  padding: 1% 3%;
}

/* HEADER */
.header1tex {
  font-size: 44px;
  line-height: 1.1;
  font-weight: bolder;
}

.header2tex {
  font-size: 18px;
}


.content {
  width: 40%;
  position: absolute;
  top: 50% !important;
  left: 25% !important;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* Ensure content is above the video */
  text-align: left;
  color: #fff;
  /* Set text color */
}

.butncolo1 {
  margin-top: 4%;
  background-image: radial-gradient(#2189B6, #4EAAD1);
  border: none;
  padding: 1.5% 7%;
  font-size: 17px !important;
}

.butncolo2 {
  margin-left: 3%;
  margin-top: 4%;
  padding: 1.5% 3%;
}

/* first section */

/* PART1 */

.MAINSECTION {
  padding: 3% 0%;
  background-image: url(../../../public/Assets/background.png);
}

.spaceing {
  padding: 2% 2%;
}

.firstcloum {
  width: 45%;
  padding: 2% 3%;
  text-align: center;
  word-break: break-all;
  margin: 3% 0%;
}

.firstcloum h2 {
  margin-top: 12px;
  word-break: break-all;
  width: 70%;
  line-height: 1.6;
}

.firstcloum p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.7;
}

.firstlink {
  text-decoration: none !important;
  color: #1E4F9E;
}

.img-thumbnaill {
  border: none;
  background-color: transparent;
  border-radius: 5%;
  height: 90%;
  width: 100%;
}


.img-thumbnail {
  border: none;
  background-color: transparent;
  border-radius: 5%;
  height: 100%;
}



.vid {
  width: 100% !important;
  overflow: hidden;
  position: relative;
}


/* vedio secion */
video {
  width: 100%;
  height: auto;
}
.vid {
  height: 280px;
}
.vediocaption {
  width: 89%;
  color: aliceblue;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}







/* SECONDPART-PROPS */
.mainnrow {
  height: 100%;
padding-top: 6%;
padding-left: 4%;
padding-right: 4%;}
.branchrow{height: 50% !important;}
.cardbackground1 {
  background-image: url('../../Components/home/images/Frame\ 188.png');
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 5%;
  margin-right: 3%;
  margin-bottom: 4%;
  padding-bottom: 5%;

  height:95%;

}

.cardbackground2 {
  background-image: url('../../Components/home/images/Frame\ 190.png');
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 5%;
  margin-bottom: 4%;
  padding-bottom: 5%;

  height:95%;


}

.cardbackground3 {
  background-image: url('../../Components/home/images/Frame\ 190.png');
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 5%;
  margin-right: 3%;
  margin-bottom: 4%;
  padding-bottom: 8%;

  height:95%;
}

.cardbackground4 {
  
  background-image: url('../../Components/home/images/Frame\ 189.png');
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 5%;
  margin-bottom: 4%;
padding-bottom: 5%;
  height:95%;

}


.icons {
  width:
    30% !important;
  margin-top: 5% !important;
  margin-left: 5% !important;
}

.firsttext {
  font-size: large;
  font-weight: bolder;
  color: black;
  margin-top: 5% !important;
  margin-left: 7% !important;
}

.secondtext {
  text-align: left;
  width: 90% !important;
  margin-left: 7% !important;

}

.cardbutton {
margin-bottom: 2%;
  margin-left: 3%;
  border-color: rgb(137, 153, 153, .5);
  font-size: large;
  width: 90%;
  color: black;
  background-color: rgb(240, 248, 255, 0.6);
  /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(170, 155, 155)); */
  border-radius: 50px;

}

.butonic {
  font-weight: bolder;
  padding: 0px 5px;
  margin-left: 10%;
  background-color: rgb(255, 255, 255, .9);
  border-radius: 50px;
}

.ourser { margin-top: 3%;
  margin-bottom: 3%;
  color: #1E4F9E;
}
.OTHERDEVICE{display: none;}

.partbutton {
  padding: 2% 2%;
  border-color: rgba(29, 11, 149, 0.5);
  height: 7%;
  width: 40%;
  color: rgb(252, 246, 246);
  background-color: #3977E8;
  /* background-image: linear-gradient(to right, #1B88B7, #4BAAD2); */

  border-radius: 50px;
}
 /* THIRD PART */

.likecard {margin: 3% 5% !important;
  border-color: #062e3f;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

.rowcard {
  padding: 3% 5%;
  position: relative;
}

.cardcol {
  padding-top: 2%;
  font-size: x-large;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: #062e3f;
}

.trian {
  color: #419bc4;
  font-weight: bold;
}

.cardim {
  background-image: url('../../Components/home/images/card.png');
  background-size: cover;
  /* This ensures the image covers the entire element */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  margin-left: 10%;
}

.cardico {
  width: 25%;
margin-top: 3%;
margin-left: 36%;}

.cardtex {
  margin: 2% 10%;
  width: 80%;
  font-size: xx-large;
  text-align: center !important;
}

.cardbuttton {
  margin-left: 15% !important;
  width: 70%;
padding: 3% 6%; 
 text-align: center !important;
margin-top: 1%;
  margin-bottom: 4%;
  border-color: rgb(137, 153, 153, .5);
  font-size: x-large;
  font-weight: 500;
  color: black;
  background-color: rgb(255, 255, 255 ,0.7);

  border-radius: 50px;
}
.butonicc {
  font-weight: bolder;
  padding: 5px 5px;
  margin-left: 8%;
  background-color: rgb(255, 255, 255, .9);
  border-radius:40px;
}

.maindiv {
  width: 200px;
}

.frree {    width: 12% !important;
  position: absolute;
  left: 97%;
  transform: translate(-20%, -38%);
}

.Primarysection {
  background-image: url("../../../public/Assets/Frame.svg") !important;
  background-repeat: no-repeat;
  background-position: center center/cover;
  background-size: cover;
  width: auto;
  margin-bottom: 2%;
}

/* client */






/* Reviewss slider */


.sliderdiv {
  background-color: white;
  border-color: hsl(0, 0%, 100%)ff;
  border-radius: 5%;
  margin-left: 15%;
  width: 70%;
}

.roundimg {
  border-radius: 50%;
  padding: 2%;
  width: 110px;
  margin-left: 42%;
}


.homebutton {
  background-color: white;
  border: none;
  color: #1B4486;
  padding: 80PX 10PX;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bolder;
  font-size: 25px;
  margin: 4px 2px;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.Result {
  color: #7AC6E5;
}


.homebutton:hover {
  background-color: #1B4486;
  color: white;
}

.homepref {
  background-color: #3977E8;
  color: white;
  text-align: center;
  padding-left: 6px;
  margin-top: -4 !important;
}

.MainFooter {
  background-color: #1B4486;

  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.firstlink{margin-right: 4%;}
.footer-item{margin-right: 4%;}

:root {
  --swiper-theme-color: black  !important;
}






/* media qauiry */

@media screen and (device-width: 1024px) {
  .logoo{padding-left: 12%;
  width: 95%;}
  .expendmenu {
    width: 95%;
  }

  .butncolo {
    margin-left: 8% !important;
  }

  .butncolo1 {
    border-radius: 8px !important;
  }

  .butncolo2 {
    margin-left: 3%;
    border-radius: 8px !important;
  }

  .spaceing {
    padding: 0.5% 3%;
  }

  .firstcloum {
    width: 49%;
    padding: 0% 3%;
    text-align: center;
    word-break: break-all;
    margin-bottom: 1%;
  }

  .firstcloum h2 {
    font-size: xx-large;
    width: 80%;
  }

  .firstcloum p {
    font-size: 18px;
  }




/* SECOND PROPS */
.mainnrow {
padding: 0% 5%;}
.FIRRS{  
  overflow-x: hidden;
  order: 2;
  width: 100%;
  height: 100%;
  padding: 2% 5%;
  margin-left: 5%;
margin-top: 1%;
 }

 .cardbackground4 {
padding-bottom: 8%;
  
}
  .SCAA{ 
    margin-left: 2%;
    padding: 0% 3%;
     order: 1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.LARGESIZE{display: none;}
.OTHERDEVICE{border-radius: 10px;
  padding: 1% 2%; font-size: x-large;
  margin-left: 12%;
  display: block;
width: 75%;}
/* THIRD PART */

.likecard {margin: 3% 5% !important;
  border-color: #062e3f;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

.rowcard {
  position: relative;
  padding: 0% 3%;
}

.cardcol {
  padding-right: 1.5%;
  
  font-size: medium;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: #062e3f;
}

.trian {
  color: #419bc4;
  font-weight: bold;
}

.cardim {
  background-image: url('../../Components/home/images/card.png');
  background-size: cover;
  /* This ensures the image covers the entire element */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  margin-left: 10%;
  margin-top: 3%;
}

.cardico {
  width: 25%;
margin-top: 3%;
margin-left: 36%;}

.cardtex {
  margin: 2% 10%;
  width: 80%;
  font-size: large;
  text-align: center !important;
}

.cardbuttton {
  margin-left: 15% !important;
  width: 70%;
padding: 3% 6%; 
 text-align: center !important;
margin-top: 1%;
  margin-bottom: 4%;
  border-color: rgb(137, 153, 153, .5);
  font-size: large;
  font-weight: 500;
  color: black;
  background-color: rgb(255, 255, 255 ,0.7);

  border-radius: 50px;
}
.butonicc {
  font-weight: bolder;
  padding: 5px 5px;
  margin-left: 8%;
  background-color: rgb(255, 255, 255, .9);
  border-radius:40px;
}

.frree {
  width: 13% !important;
    left: 97% !important;
  transform: translate(-61%, -3%);
  position: relative;
}

.myswiper1 {
  width: 100%;
}

.sllidr1 {
  width: 90% !important;
  /* height: auto;
  display: block; */
}


/* .sllidr1{width: 300px;}
.swiper-wrapper{transition-duration: 0ms !important;
  transition-delay: 0ms;
  transform: translate3d(-50px, 0px, 0px) !important;
  } */
}


@media screen and (min-width: 1441px) {

  /* NavBar */
  .logoo {
    padding-left: 36%;
  }

  .expendmenu {
    width: 70%;
  }

  .butncolo {
    margin-left: 20% !important;
  }

  /* Header */
  .mobile-image {
    width: 100%;
  }

  .header1tex {
    font-size: 74px;
    font-weight: bolder;
  }

  .header2tex {
    font-size: 18px;
  }

  .content {
    width: 70%;
    position: absolute;
    top: 50% !important;
    left: 40% !important;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Ensure content is above the video */
    text-align: left;
    color: #fff;
    /* Set text color */
  }

  .butncolo1 {
    border-radius: 10px;
  }

  .butncolo2 {
    margin-left: 3%;
    border-radius: 10px;
  }

  /* first section */

  /* PART1 */
  .spaceing {
    padding: 0.2% 1.5%;
  }

  .firstcloum h2 {
    margin-top: 12px;
    word-break: break-all;
    line-height: 1.6;
  }

  .firstcloum p {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.7;
  }


  .secondtext {
    text-align: left;
  font-size: medium;
    width: 70% !important;
    margin-left: 7% !important;
  
  }
  

  /* THIRD PART  */
  .frree {
    width: 12% !important;
    position: absolute;
    left: 99%;
    transform: translate(-32%, -38%);
}

}
























/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
 *{ overflow-x: hidden;}
  /* NavBar */
  .logoo {
    padding-left: 9%;
    width: 100%;
  }

  .butncolo {
    margin-right: 10%;
  }

  .humbrugermenu {
    margin-right: 2%;
  }

  /* Header */
  .mobile-image {
    width: 100%;

  }

  .header1tex {
    font-size: 40px;
    font-weight: bolder;
  }

  .header2tex {
    font-size: 13px;
  }

  .content {
    width: 50%;
    position: absolute;
    top: 50% !important;
    left: 30% !important;

  }

  .butncolo1 {
    margin-top: 3%;
    border-radius: 10px !important;
  }

  .butncolo2 {
    margin-left: 3%;
    margin-top: 3%;

    border-radius: 10px !important;
  }

  /* first section */

  /* PART1 */
  .spaceing {
    padding: 1% 4.5%;
  }

  .firstcloum {
    width: 45%;
    padding: 1% 2%;
    text-align: center;
    word-break: break-all;
    margin: 1% 0%;
  }

  .firstcloum h2 {
    font-size: medium;

    width: 65%;
    margin-top: 8px;
    line-height: 1.6;
  }

  .firstcloum p {
    font-size: 13px;
  }


  /* SECOND PART */
  .mainnrow {
   
  padding: 1% 5%;}
.FIRRS{  
  margin-left: 7%;
  overflow-x: hidden;
  order: 2;
  width: 100%;
  height: 100%;
  padding: 0% 5%;

 }
  .SCAA{ margin-left: 5%;
    padding: 0% 3%;
     order: 1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.LARGESIZE{display: none;}
.OTHERDEVICE{ border-radius: 10px;
  padding: 1% 2%; font-size: x-large;
  margin-left: 13%;
  display: block;
width: 75%;}
.cardim{margin-top: 50%;
margin-left: 0%;
margin-right: 0%;}
.cardtex{font-size: large;}
.cardbuttton{ width: 75%;
  font-size: medium;}

/* .frree {
  width: 13% !important;
  position: relative !important;
  left: 97% !important;
  transform: translate(-61%, -3%);
} */

.myswiper1 {
  width: 100%;
}

.sllidr1 {
  padding-left: 15%;
  width: 80%;
  height: auto;
  display: block;
}

/* .SwiperSlide{width: 500px !important;}
.sllidr1{width: 500px;
padding-left: 15% !important;}

 */
}










@media (max-width: 767px) {

  /* NavBar */
  .logoo {
    padding-left: 4%;
    width: 80%;
  }



  /* Header */

  .header1tex {
    font-size: 38px;
    font-weight: bold;
  }

  .header2tex {
    font-size: 15px;
    width: 100%;
    font-weight: bold;

  }

  .content {
    width: 90%;
    position: absolute;
    top: 50% !important;
    left: 50% !important;

  }

  .butncolo1 {
    width: 100%;
    margin-top: 14%;
    border-radius: 10px;
    background-color: #5083E8 !important;
    border: none;
    padding: 2% 7%;

  }

  .butncolo2 {
    width: 100%;
    margin-top: 5%;
    margin-left: 0% !important;
    border-radius: 10px;
  }



  .mobile-half-image {
    object-fit: cover;
    /* Ensure the image covers its container */
    height: 100%;
    /* Set the height to 100% */
    width: 50%;
    /* Set the width to 50% */
    float: left;
    /* Float the image to the left */
    overflow: hidden;
    /* Hide the overflow of the image */
  }

  /* first section */

  /* PART1 */

  .spaceing {
    padding: 1% 7%;
  }

  .firstcloum {
    order: 2;
    width: 100%;
    padding: 1% 1%;
    text-align: center;
    word-break: break-all;
    margin: 1% 0%;
  }

  .firstcloum h2 {
    font-size: small;
    margin-top: 12px;
    word-break: break-all;
    width: 42%;
    line-height: 1.6;
  }

  .firstcloum p {
    font-size: 14px;
  }

  .secondcloum {
    padding: 1% 1%;
    margin: 0% 0%;
    order: 1;
    width: 100%;
    height:
      100%;
  }

   /* SECOND PART */
 .FIRRS{  
  overflow-x: hidden;
  order: 2;
  width: 100%;
  height: 100%;

  margin-left: .5%;

 }
 .cardbackground1{width: 48%;}
 .cardbackground2{width: 48%;}
 .cardbackground3{width: 48%;}
 .cardbackground4{width: 48%;  
padding-bottom: 8%;}
 .cardbutton {
    font-size: medium;
    width: 90%;
    
  }

  .SCAA{ 
    padding: 0% 3%;
     order: 1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.cardim{margin-left: -2%;
}
.rdercol{order: 2;}
.rdercol2{order: 1;}
.cardtex {
width: 85%;}
.LARGESIZE{display: none;}
.OTHERDEVICE{margin-left: 9%;
  margin-bottom: 4%;
  border-radius: 10px;
  display: block;
width: 80%;}
 .ourser{margin-top: 2%;
  margin-bottom: 2%;}

.cardcol{ border-right: none;}

  /* .frree {
    width: 13% !important;
    position: absolute !important;
    left: 97% !important;
    transform: translate(-61%, -3%);
  } */




  .homebutton:hover {
    background-color: #1B4486;
    color: white;
  }
  .sllidr1{ width: 50%; }

  /*
    .swiper-wrapper{transition-duration: 0ms;
      transition-delay: 0ms;
      } */
} 






