.mainroow {
  margin: 5%;

  background-color: rgba(250, 249, 249, 0.1);

  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border-style: solid;
}

.calennd {
  padding-top: 3%;
  border-right-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
}

.react-calendar {
  align-items: center;
  margin: 1% 15%;
  width: 70% !important;
}

.rightb {
  padding: 5%;
}

.clendartitle {
  font-size: xx-large;
  font-weight: normal;
}

.FreeCalendr {
  position: absolute;
  top: -7px;
  right: -37px;
  width: 150px;

}

.texto {
  border-color: rgba(0, 0, 0, 0.15);

  border-bottom-style: solid;
}




.afterfooter {
  background-color: rgb(170, 162, 162, .1);

  padding: 3% 3%;
}


.freecalend {
  padding-left: 100% !important;
}

.fortestdisplay {
  display: grid;
  font-size: x-large;
}



/* MEDIAQUAIRY */





/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  * {
    overflow-x: hidden;
  }

  /* first stander section  */
  .frist1 {
    font-weight: bold;
  }

  .frist2 {
    margin-top: 5%;
    font-size: medium;
  }

}

.clendartitle {
  font-size: x-large;
}

.react-calendar {
  margin: 1% 5%;
  width: 90% !important;
}


/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 700px) {
  .mainroow {

    padding-left: 0%;
  }

  .rightb {
    order: 1;
    border-right-style: none;
  }

  .calennd {
    order: 2;
    border-right-style: none;
  }

  .clendartitle {
    width: 90%;
    font-size: x-large;
  }

  .react-calendar {
    margin: 1% 5%;
    width: 90% !important;
  }

  .secondrowofcalender {
    order: 3;
  }

  /* first stander section  */
  .frist1 {
    font-weight: bold;
    font-size: large;
  }

  .frist2 {
    margin-top: 5%;
    font-size: small;
  }

}